ul,li{
  padding: 0;
  margin: 0;
  list-style: none;
}
#container{
  width:1000px;
  height: 640px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
#container .pics{
  /*width:6000px;*/
  position: absolute;
  font-size: 0;
  line-height: 0;
  /*left:-1000px;*/
}
#container .pics img{
  width:1000px;
  height: 640px;
}
#container .pics>li{
  display: inline-block;
}
#container .arrow{
  width: 50px;
  height: 50px;
  z-index: 1;
  border: 1px solid #fff;
  position: absolute;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  top: 50%;
  margin-top: -25px;
  line-height: 50px;
  color: #fff;
}
.arrow.pre{
  left: 20px;
}
.arrow.next{
  right: 20px;
}
.arrow:hover{
  opacity: 0.5;
  background-color:#827272;
}
#container .tips{
  width: 100%;
  font-size: 0;
  position: absolute;
  bottom: 10px;
  z-index: 1;
  text-align: center;
}
.tips>li{
  border:1px solid #776161;
  height: 10px;
  margin: 0 5px;
  border-radius: 6px;
  width: 50px;
  display: inline-block;
  cursor: pointer;

}
.tips>li.active{
  background-color: #827272
}